/*ROOT STYLING*/
*{
    /*border: 1px solid red;*/
    --header-font: 'Roboto', sans-serif;
    --body-text: 'Montserrat', sans-serif;
    --contact-header: 1.5em;
}

*, *:before, *:after {
    box-sizing: border-box;
}


/*HTML STYLE*/

html {
    box-sizing: border-box;
    font-weight: 200;
}


/*MAIN STYLING*/

body {
    margin: 0!important;
    padding: 0;
    letter-spacing: 1.5px;
    width: 100%;
    height: 100%;
    font-family: var(--body-text);
}

/*HEADER/NAVIGATION STYLING*/
header {
    height: 34vh;
    background: pink;
}

.nav-container {
    width: 100%;
    margin: auto;
}

.title-content {
    float: left;
    padding-left: 10%;
}

.title {
    font-size: 3.5em;
    font-family: var(--header-font);
}

.tag-line {
    font-size: 2.5;
    font-family: var(--header-font);
}

nav {
    margin: 20px auto;
    float: right;
    padding: 0 10% 0 0;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    display: inline-block;
    margin-left: 30px;
    padding-top: 5px;
    position: relative;
    font-family: var(--header-font);
}

nav a {
    text-decoration: none;
    font-size:  18px;
}

nav a:hover {
    color: black;
}

nav a::before {
    content: '';
    display: block;
    height: 5px;
    background-color: #444;
    top: 0;
    width: 0%;
    transition: all ease-in-out 250ms;
}

nav a:hover::before {   /*HOVER EFFECT ON NAV BORDER*/
    width: 100%;
}

/*ABOUT ME STYLING*/

.about-me {
    margin: 0 10px;
}

.about-me-contain {
    float: left;
    width: auto;
    margin: 0 10px;
}

.about-me-title {
    font-family: var(--header-font);    
}

.about-me-text {
    font-size: 16.5px;
    line-height: 2em;
}

/*IMAGE STYLING*/

.pp-contain {
    margin: auto 15%;
}

.profile-picture {
    border-radius: 100%;
    object-fit: cover;
}

main{
    
}

/*CONTACT SECTION STYLING*/

.contact-me {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    padding-bottom: 50px;
}

.contact-title {
    font-family: var(--header-font);
    font-weight: 300;
}

.contact-info {
    max-width: 500px;
    height: auto;
    margin: 50px auto;
    background: rgba(230, 230, 230, 0.895);
    border: 2px solid rgb(230, 230, 230);
    box-shadow: 0px 5px 12px 4px #aaaaaa;
    padding: 5px;
}

.contact-info > * {
    font-size: 18px;
    line-height: 2em;
    letter-spacing: 1px;
}

.cmo {
    font-size: var(--contact-header);
}

.icons {
    padding: 0 0.8em;
}

/* CONTACT FORM */
.contact-form {
    max-width: 500px;
    height: auto;
    margin: 50px auto;
    background: rgba(230, 230, 230, 0.895);
    border: 2px solid rgb(230, 230, 230);
    box-shadow: 0px 5px 12px 4px #aaaaaa;
    padding: 5px;
}

.contact-form > * {
    font-size: 18px;
    line-height: 1.6em;
    letter-spacing: 1px;
}

.git {
    font-size: var(--contact-header);
}

.input, .msg .area{
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    margin-bottom: 15px;
    border: 2px solid #e9eaea;
    font-size: 14px;
    border-radius: 5px;
    outline: none;
}

.details .input{
    width: 48%;
    float: left;
    margin-right: 4%;
}

.details .input:last-child{
    margin-right: 0;
}

.msg .area{
    height: 100px;
}

.btn{
    width: 200px;
    background: #000;
    height: 50px;
    line-height: 50px;
    text-align: center;
    border-radius: 5px;
    margin: 0 auto;
    color: #fff;
    text-transform: uppercase;
    cursor: pointer;
}

.input:focus,.msg .area:focus{
    border: 2px solid #008335;
}

::-webkit-input-placeholder{
    font-family: var(--body-text);
}

.social-icons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex: auto;
}